.hd{
    background-color: grey;
    color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
}
body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
.hd .nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}
.hd .nav{
    padding: 20px;
    
}
.hd .nav ul a{
    text-decoration: none;
    color: aqua;
}
.intro{
    width: 100vw;
    height: 70vh;
    background-color: rgba(0, 255, 255, 0.432);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro h1{
    color: blue;
    font-size: 100px;
    text-decoration: underline 5px solid blue;
    margin-bottom: 0px;
}
.intro p{
    font-size: 20px;
}
.icon{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.logo{
    display: flex;
    flex-direction: row;
}
.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduction h1{
    color: blue;
    text-decoration: underline 3px solid blue;
    font-size: 50px;
}
.introduction .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    gap: 10px;  
}
.card1 , .card2 , .card3{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    margin-top: 20px;
    border-radius: 50px;
}
.card1 h1 , .card2 h1 , .card3 h1{
    color: blue;
    margin-bottom: 0px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.introduction {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: blue;
}
.introduction a , .about-body a{
    text-decoration: none;
    color: white;
}
.about-body{
    width: 100vw;
    height: 75.5vh;
    display: flex;
    justify-content: center;
    align-items: centers;
}
.about-body .signcard .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}
.about-body .signcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 20px;
    height: 300px;
    margin-top: 100px;
    width: 500px;
    color: blue;
}
.textbox{
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
}
.about-body .signcard2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 20px;
    height: 390px;
    margin-top: 40px;
    width: 500px;
    color: blue;
}

footer p{
    margin-top: 58px;
    margin-bottom: 0px;
}
footer{
    color: aqua;
    display: flex;
    justify-content: center;
}
.signbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactus .cthd{
    color: aqua;
    text-decoration: underline 2px solid aqua;
}